/* 
Different browser has different margin and padding
This is a small procection - reset to make sure all sigin will be controlled by developer
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body, 
#root {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: aquamarine;
}