#certifications {
  background-color: white;
  display: block;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  text-align: center;
  padding-top: 20px;
  z-index: 4;
  padding-bottom: 40px;
}

#certificate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fa-free-code-camp {
  display: block;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2vw;
}
