h3 {
  font-family: monospace;
  margin: 15px;
}

#projects-container {
  position: relative;
  z-index: 4;
}

#projects {
  display: block;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 15px;
}

.project-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 2px solid black;
  box-shadow: -5px 5px 0px black;
  background-color: white;
  font-family: monospace;
  width: 280px;
  margin: 10px 40px;
  padding-left: 10px;
  padding-right: 10px;
}

i.fas.fa-cloud-sun,
i.fas.fa-hand-sparkles,
i.fab.fa-react.projects,
i.fas.fa-om {
  position: relative;
  color: black;
  font-size: 7.5vw;
  padding: 10px;
}

#project-button-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 950px) {
  #project-button-container {
    height: 100px;
    flex-direction: row;
  }
}