.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  max-height: 100%;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

#projects h3 {
  font-family: "Bungee Inline", cursive;
  font-size: 3.5vw;
  color: black;
  margin: 20px;
}
#projects {
  display: block;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;

  padding-top: 15px;
  z-index: 2;
}
.project-flex {
  display: flex;
}

.card {
  border: 2px solid black;
  box-shadow: -5px 5px 0px black;
  background-color: white;
  font-family: monospace;
  max-width: 260px;
  display: inline;
  flex: 1;
  align-items: center;
  margin: 10px auto;
  padding-left: 10px;
  padding-right: 10px;
}
h4 {
  font-family: monospace;
  font-size: 2vw;
  margin: 15px;
}
i.fas.fa-cloud-sun,
i.fas.fa-hand-sparkles,
i.fab.fa-react.projects,
i.fas.fa-clock {
  position: relative;
  color: black;
  font-size: 8vw;
}
