.main-wrapper {
  position: relative;
  background-color: white;
  display: block;
  width: 100%;
  min-height: 90vh;
  text-align: center;
  z-index: 4;
}

#technologies h3 {
  font-family: "Bungee Inline", cursive;
  margin: 60px;
  font-size: 3.5vw;
  color: black;
}

.badge {
  position: relative;
  margin: 40px;
  width: 4em;
  height: 6.2em;
  border-radius: 10px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
}

.badge:before,
.badge:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.badge:before {
  transform: rotate(60deg);
}

.badge:after {
  transform: rotate(-60deg);
}

.badge:hover {
  top: -4px;
}

.circle {
  width: 65px;
  height: 65px;
  position: absolute;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.circle i.fab,
.circle i.fas {
  font-size: 50px;
  margin-top: 8px;
  padding: 0;
}

.ribbon {
  position: absolute;
  border-radius: 4px;
  width: 110px;
  z-index: 11;
  color: #fff;
  top: 60px;
  left: 50%;
  margin-left: -55px;
  height: 20px;
  font-size: 18px;
  font-family: monospace;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to bottom right, #555 0%, #333 100%);
  cursor: default;
}

.yellow {
  background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
  color: #ffb300;
}

.blue-dark {
  background: linear-gradient(to bottom right, #1976d2 0%, #283593 100%);
  color: #1c68c5;
}

.orange {
  background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
  color: #f68401;
}

.teal {
  background: linear-gradient(to bottom right, #4db6ac 0%, #00796b 100%);
  color: #34a297;
}

.purple {
  background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
  color: #7127a8;
}

.silver {
  background: linear-gradient(to bottom right, #e0e0e0 0%, #bdbdbd 100%);
  color: #9e9e9e;
}

.pink {
  background: linear-gradient(to bottom right, #f48fb1 0%, #d81b60 100%);
  color: #dc306f;
}

.red {
  background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
  color: #c62828;
}

.blue {
  background: linear-gradient(to bottom right, #4fc3f7 0%, #2196f3 100%);
  color: #259af3;
}

@media only screen and (max-height: 500px) {
  .badge,
  .circle,
  .circle i.fab,
  .circle .fas,
  .ribbon {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 500px) {
  #technologies h3 {
    margin: 40px;
  }

  /* transform: scale() helps to resize a component and keep proportion */
  .badge,
  .circle,
  .circle i.fab,
  .circle .fas,
  .ribbon {
    transform: scale(0.8);
  }

  .badge {
    margin: 25px;
  }
}