.flexbox-container,
.flexbox-item-2,
#button-container,
button.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name h1,
#title-location
 {
  margin-bottom: 40px;
}

.flexbox-container {
  position: relative;
  width: 100%;
  margin-top: 180px;
  height: 500px;
  z-index: 4;
}

/* .bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  height: 100%;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
} */

.flexbox-item-1 {
  max-width: 300px;
  max-height: 280px;
}

img.profile {
  border-radius: 50%;
  max-width: 300px;
  display: block;
  margin: 70px 0 40px 50px;
}

.flexbox-item-2 {
  height: 500px;
  text-align: center;
  flex-direction: column;
} 

#welcome-section h1 {
  font-size: 5vw;
  padding: 0px 100px 0px 100px;
  font-family: "Bungee Shade", cursive;
  color: black;
}

#welcome-section h3 {
  font-size: 2.4vw;
  font-family: "Bungee Inline", cursive;
  color: black;
}

#button-container {
  flex-direction: row;
}

i.fab.fa-linkedin-in,
i.fab.fa-github,
i.fas.fa-laptop-code,
i.fab.fa-free-code-camp {
  font-size: 3vw;
  padding: 5px;
  margin: 0;
}

button.social {
  padding: 7px;
  height: 3em;
  width: 3em;
}

button.social:hover {
  padding: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

@media only screen and (max-height: 500px) {
  .flexbox-container {
    margin-top: 100px;
    height: 80vh;
  }

  #name h1,
  #title-location
  {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .flexbox-container {
    margin-top: 100px;
    height: 300px;
  }

  #name h1,
  #title-location
  {
    margin-bottom: 20px;
  }
}